<h1> Tacos! </h1>

<p>There are so many delicious tacos!</p>

<% fillings = ["Carnitas", "Chicken", "Veggie", "Avocado", "Mushroom"] %>

<ul>
  <%for filling in fillings%>
  <li><%=filling%></li>
  <% end %>
</ul>